<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Médico</title>
</head>

<body>


    {% block content %}
    <div class="dashboard-container">
        <h1>Bem-vindo ao Painel do Médico</h1>

        <div class="dashboard-content">
            <p>Este é o painel onde você pode gerenciar suas informações, agendamentos e muito mais!</p>

            <!-- Exemplo de funcionalidades da área do médico -->
            <div class="cards">
                <div class="card">
                    <h3>Informações Pessoais</h3>
                    <p>Veja e edite suas informações pessoais.</p>
                    <a href="#">Ir para informações</a>
                </div>

                <div class="card">
                    <h3>Agendamentos</h3>
                    <p>Veja seus agendamentos e marque novas consultas.</p>
                    <a href="#">Ver Agendamentos</a>
                </div>

                <div class="card">
                    <h3>Histórico Médico</h3>
                    <p>Consulte seu histórico de atendimentos e exames.</p>
                    <a href="#">Ver Histórico</a>
                </div>
            </div>

            <!-- Link de Logout -->
            <a href="{% url 'logout_medico' %}" class="logout-btn">Sair</a>
        </div>
    </div>
    {% endblock %}

</body>

</html>